<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113515145-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113515145-1');
      // to ignore spam:
      // https://carloseo.com/removing-google-analytics-spam/
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {{content}}
  </body>
</html>
